# Dependencies
node_modules

# Build
dist

# Coverage
coverage

# Benchmarks
benchmark-results
package-size-results

# Playwright
playwright-report
test-results
browser/playwright-report
browser/test-results

# Logs
*.log

# IDE
.vscode
.idea

# System
.DS_Store

# Environment
.env
.env.*
